<div class="view-content">
		<div class="newsDate">
			01.12.2017
		</div>
			     	<div class="herosubtitle">
				     ВС РФ признал "таранную" схему фактором ограничения конкуренции на торгах.
				</div>
				<div class="herotext">
				     Фонд защиты кредиторов приветствует решение. Теперь добросовестным участникам достаточно будет просто доказать недобросовестность одного из участников, которая привела к ограничению конкуренции. 
				<a href="https://docs.google.com/gview?url=http://fozak.ru/a/011217.docx">Подробнее >> </a>
				</div>
</div>
