<div class="view-content">
		<div class="newsDate">
			31.10.2017
		</div>
			     	<div class="herosubtitle">
				     Владельцы обыкновенных акций могут получить преимущественное право приобретения привилегированных акций.
				</div>
				<div class="herotext">
				    В июле 2017 г. Правительством РФ в Государственную Думу ФС РФ был внесен проект федерального закона № 229418-7 «О внесении изменений в статьи 40 и 75 Федерального закона «Об акционерных обществах» (далее – Законопроект).

Законопроект уже принят в первом чтении 25.10.2017.

В случае, если Законопроект будет окончательно принят, то владельцы обыкновенных акций получат преимущественное право приобретения размещаемых впервые посредством открытой подписки привилегированных акций, причём такое право распространяется и на эмиссионные ценные бумаги, которые конвертируются в привилегированные акции. Их можно будет приобрести в количестве, пропорциональном количеству обыкновенных акций.

Напомним, что согласно действующим нормам Федерального закона от 26.12.1995
№ 208-ФЗ «Об акционерных обществах» акционер имеет преимущественное право приобретения акций только той категории или того типа, которые у него уже есть.

Проект Федерального закона № 229418-7 (http://sozd.parlament.gov.ru/bill/229418-7)	</div>
</div>

<div class="view-content">
		<div class="newsDate">
			24.10.2017
		</div>
			     	<div class="herosubtitle">
				     Возможность подачи коллективных исков предлагают закрепить на законодательном уровне.
				</div>
				<div class="herotext">
				     Минюстом России разработан законопроект «О внесении изменений в отдельные законодательные акты Российской Федерации в части урегулирования порядка рассмотрения коллективных исков» (далее – Проект) (http://regulation.gov.ru/projects#npa=73156).

Возможность подачи коллективных исков предлагается закрепить в Гражданском процессуальном кодексе Российской Федерации, Арбитражном процессуальном кодексе Российской Федерации, Кодексе административного судопроизводства Российской Федерации.

В арбитражный суд коллективный иск может быть подан, в том числе, по корпоративным спорам, а также по спорам, связанным с осуществлением деятельности профессиональных участников рынка ценных бумаг.

Коллективное административное исковое заявление может быть подано, в том числе, по спорам, возникающим в сфере ЖКХ, охраны здоровья и оказания медицинской помощи, социального обеспечения, охраны окружающей среды, образования.
				</div>
</div>


<div class="view-content">
		<div class="newsDate">
			07.07.2017
		</div>
			     	<div class="herosubtitle">
Правительство внесло в Госдуму законопроект по повышению защиты прав миноритариев
					</div>
				<div class="herotext">
				  Проект федерального закона (далее – Законопроект) «О внесении изменений в Федеральный закон от 26.12.1995 № 208-ФЗ «Об акционерных обществах» (далее – Закон № 208-ФЗ) был внесён Минэкономразвития России в Правительство Российской Федерации во исполнение Плана мероприятий («дорожной карты») «Совершенствование корпоративного управления», утверждённого распоряжением Правительства Российской Федерации от 25.06.2016 года № 1315-р (далее – «дорожная карта»).

Законопроект был одобрен на заседании Правительства Российской Федерации 15.06.2017, а 20.06.2017 внесен в Государственную Думу Федерального Собрания Российской Федерации (рег. номер № 204628-7 от 20.06.2017).

Разработанный в соответствии с «дорожной картой» Законопроект призван повысить позицию России в рейтинге Doing Business по показателю «Защита прав миноритарных инвесторов», а также способствовать повышению уровня защиты прав миноритарных инвесторов и качества корпоративного управления в российских хозяйственных обществах.</div>
</div>

<div class="view-content">
		<div class="newsDate">
			02.05.2017
		</div>
	<div class="herosubtitle">
Подготовлены поправки в порядок раскрытия информации о сделках с заинтересованностью.
					</div>
				<div class="herotext">
	Банк России разработал проект указания Банка России «О внесении изменений в Положение Банка России от 30 декабря 2014 года № 454-П «О раскрытии информации эмитентами эмиссионных ценных бумаг» (далее – Проект).

Проект разработан в связи с поправками, предусмотренными Федеральным законом от 03.07.2016 № 343-ФЗ «О внесении изменений в Федеральный закон «Об акционерных обществах» и Федеральный закон «Об обществах с ограниченной ответственностью» в части регулирования крупных сделок и сделок, в совершении которых имеется заинтересованность», которые с 01.01.2017 отменили обязанность по одобрению сделок с заинтересованностью.

Новые нормы направлены на совершенствование условий, а также состава и порядка раскрытия информации эмитентами эмиссионных ценных бумаг.			  
	</div>

