<div class="view-content">
		<div class="newsDate">
			15.03.2017
		</div>
			     	<div class="herosubtitle">
				     «Российская газета» попросила создать схему продажи гостипографий.
				</div>
				<div class="herotext">
				     Структура «Российской газеты» хочет разработать оптимальную схему приватизации государственных
типографий, находящихся под ее управлением. Власти уже пытались продать эти активы.<a href="https://docs.google.com/gview?url=http://fozak.ru/a/150317.docx">Подробнее >> </a>
				</div>
</div>
