<div class="newsDate">20.04.2018</div>
			     	<div class="herosubtitle">
				     В первом чтении приняты поправки об ответственности представителей интересов РФ в органах управления компаний.
				</div>
				<div class="herotext">
				    осдума в первом чтении приняла внесенный Правительством РФ проект федерального закона «О внесении изменений в Кодекс Российской Федерации об административных правонарушениях в части установления ответственности представителей интересов Российской Федерации в органах управления юридических лиц» (далее – Законопроект). 
				<a href="https://docs.google.com/gview?url=http://fozak.ru/a/200418.docx">Подробнее >> </a>
				</div>
