<div class="newsDate">
			12.02.2016
		</div>
			     	<div class="herosubtitle">
				    Росимуществу не удалось оспорить сделку, которая привела к банкротству учхоза «Липовая гора».
				</div>
				<div class="herotext">
					Арбитражный суд Пермского края во вторник отказал ТУ Росимущества в Пермском крае в признании недействительной сделки по продаже кормоуборочного комбайна ФГУП «Учебно-опытное хозяйство “Липовая гора”» ижевскому ООО «Интерпартнер». Стоимость сделки, заключенной в июле 2013 года, составила 6,3 млн руб. Как полагает истец, договор поставки спецтехники является крупной сделкой, заключение которой должно было быть одобрено ТУ Росимущества в Пермском крае до момента ее совершения Учхозом «Липовая гора». Между тем, вопрос о согласовании договора на рассмотрение управления не выносился. В своем решении суд основывался на пропуске срока исковой давности.
14 октября прошлого года в отношении ФГУП было введено наблюдение, поводом к которому стал долг в перед директором «Центр Землеустройства» Денисом Корепановым. Он в свою очередь получил долг по договору цессии с ижевским ООО «Интерпартнер».
</div>
