<div class="newsDate">
	04.06.2018
</div>
			     	<div class="herosubtitle">
				   Ростех контролирует банкротство КТЗ, создал структуры для перевода оздоровленных предприятий.</div>
				<div class="herotext">
				  Госкорпорация "Ростех" контролирует процедуры банкротства концерна "Тракторные заводы" (КТЗ), создала структуры для перевода туда оздоровленных предприятий, заявил первый заместитель гендиректора госкорпорации Владимир Артяков.

При этом он напомнил, что в настоящее время по решению правительства РФ "Ростех" занимается оздоровлением КТЗ, "который также находится не в лучшем состоянии". "Мы занимаемся операционным управлением КТЗ, получили контроль над процедурами банкротства и создали структуры, в которые мы будем, в хорошем смысле, "выгружать" очищенные от проблем активы, которые уже будут работать на развитие бизнеса и решение стратегических задач", - отметил В.Артяков, его слова приводятся в годовом отчете "Ростеха".

Он также сказал, что основным кредитором КТЗ является ВЭБ, "с которой мы находимся в тесном контакте". "Я думаю, что совместными усилиями на горизонте двух-трех лет мы получим качественный результат по КТЗ. Впоследствии, скорее всего, встанет вопрос о том, чтобы "очищенные" предприятия КТЗ были переданы в корпорацию и интегрированы в какой-либо холдинг", - добавил он.

В.Артяков также отметил, что "Ростех" в настоящее время занимается оздоровлением АО "НПК "Уралвагонзавод" (УВЗ), который был передан "Ростеху". "Это мощнейший промышленный комплекс, находящийся в достаточно тяжелом финансовом положении. УВЗ нам был передан осмысленно, в расчете на то, что, перегруппировав финансовые, организационные и другие ресурсы, мы достигнем позитивного результата, а именно - стабильности в работе предприятия", - сказал он.

Решение о передаче КТЗ в управление "Ростеха", который уже контролирует ряд предприятий военного дивизиона концерна, было принято после неудачи плана реструктуризации долгов КТЗ, в том числе из-за неурегулированности внутригрупповой задолженности и отказа владельцев конвертировать часть долга в капитал.

"Ростех" создал управляющую компанию для координации работы предприятий КТЗ. Ожидается, что АО "РТ-Тракторные заводы" получит в управление акции предприятий гражданского дивизиона КТЗ для проведения дальнейшей реструктуризации.
				</div>
<div class="newsDate">
	04.06.2018
</div>
			     	<div class="herosubtitle">
				  Апелляционный суд исключил из реестра банкротного "Чек-Су.ВК" 298 млн руб. требований акционера.
					<div class="herotext">
				 Седьмой арбитражный апелляционный суд отменил решение Арбитражного суда Кемеровской области о включении в третью очередь реестра кредиторов ЗАО "Чек-Су.ВК" (Междуреченск, Кемеровская область, с декабря 2017 года находится в процедуре конкурсного производства) требований акционера ЗАО Георгия Рамзайцева в сумме 298 млн рублей, сообщается в материалах суда.

С жалобой в апелляционную инстанцию обратились Внешэкономбанк (заявитель в деле о банкротстве "Чек-Су.ВК" и основной кредитор компании), а также конкурсный управляющий ЗАО Сергей Шокарев.

По мнению ВЭБа, Г.Рамзайцев и "Чек-Су.ВК" являются аффилированными лицами.</div>


<div class="newsDate">
	20.04.2018
</div>
			     	<div class="herosubtitle">
				     В первом чтении приняты поправки об ответственности представителей интересов РФ в органах управления компаний.
				</div>
				<div class="herotext">
				    Госдума в первом чтении приняла внесенный Правительством РФ проект федерального закона «О внесении изменений в Кодекс Российской Федерации об административных правонарушениях в части установления ответственности представителей интересов Российской Федерации в органах управления юридических лиц» (далее – Законопроект). 
				<a href="https://docs.google.com/gview?url=http://fozak.ru/a/200418.docx">Подробнее >> </a>
				</div>
<div class="newsDate">
	16.04.2018
</div>
			     	<div class="herosubtitle">
				  «Трансконтейнер» оспорил через суд отказ ФАС в покупке терминала Global Ports.  
				</div>
				<div class="herotext">
«Трансконтейнер» обратился с иском в суд о признании недействительным решения Федеральной антимонопольной службы (ФАС), отказавшейся  удовлетворить  ходатайство компании о покупке терминала Global Ports, следует из картотеки арбитражных дел.

Заявление компании от 19 февраля поступило в Арбитражный суд Москвы 9 апреля. Суд принял его и возбудил производство.  Для выяснения обстоятельств требований на 17 мая назначено собеседование со сторонами и предварительное судебное заседание.

Global Ports подписала с «Трансконтейнером» договор о продаже 100% ЗАО «Логистика-терминал» за 1,9 млрд руб. летом 2017 г. В декабре стало известно, что  ФАС отказала «Трансконтейнеру» в согласовании покупки.

Антимонопольная служба указывала, что сделка создаст вертикальную цепочку ключевых транспортных активов (фитинговых платформ, контейнеров и сухого порта – железнодорожного контейнерного терминала), что даст возможность компании влиять на условия контейнерных перевозок в сторону Большого порта Санкт-Петербург. Это, в свою очередь, может привести к ограничению конкуренции и усилению доминирующего положения «Трансконтейнера» на рынке, указывала служба.
				</div>

