<div class="newsDate">
	20.04.2018
</div>
			     	<div class="herosubtitle">
				     В первом чтении приняты поправки об ответственности представителей интересов РФ в органах управления компаний.
				</div>
				<div class="herotext">
				    Госдума в первом чтении приняла внесенный Правительством РФ проект федерального закона «О внесении изменений в Кодекс Российской Федерации об административных правонарушениях в части установления ответственности представителей интересов Российской Федерации в органах управления юридических лиц» (далее – Законопроект). 
				<a href="https://docs.google.com/gview?url=http://fozak.ru/a/200418.docx">Подробнее >> </a>
				</div>
<div class="newsDate">
	16.04.2018
</div>
			     	<div class="herosubtitle">
				  «Трансконтейнер» оспорил через суд отказ ФАС в покупке терминала Global Ports.  
				</div>
				<div class="herotext">
«Трансконтейнер» обратился с иском в суд о признании недействительным решения Федеральной антимонопольной службы (ФАС), отказавшейся  удовлетворить  ходатайство компании о покупке терминала Global Ports, следует из картотеки арбитражных дел.

Заявление компании от 19 февраля поступило в Арбитражный суд Москвы 9 апреля. Суд принял его и возбудил производство.  Для выяснения обстоятельств требований на 17 мая назначено собеседование со сторонами и предварительное судебное заседание.

Global Ports подписала с «Трансконтейнером» договор о продаже 100% ЗАО «Логистика-терминал» за 1,9 млрд руб. летом 2017 г. В декабре стало известно, что  ФАС отказала «Трансконтейнеру» в согласовании покупки.

Антимонопольная служба указывала, что сделка создаст вертикальную цепочку ключевых транспортных активов (фитинговых платформ, контейнеров и сухого порта – железнодорожного контейнерного терминала), что даст возможность компании влиять на условия контейнерных перевозок в сторону Большого порта Санкт-Петербург. Это, в свою очередь, может привести к ограничению конкуренции и усилению доминирующего положения «Трансконтейнера» на рынке, указывала служба.
				</div>

