<div class="insidePage">
	<div class="insideContent">
		<div class="textContent">
			<div class="sometextTitle">О Фонде</div>
				<div class="herosubtitle">Фонд защиты кредиторов - один из лидеров рынка дебиторской задолженностью юридических лиц в России. </div>
					<div class="herotext">Фонд защиты кредиторов является одним из лидеров дебиторской задолженностью юридических лиц в России.
<br>Первая компания группы начала работу в 2006 г. <br> Головной офис Фонда защиты кредиторов находится в Москве.

Фонд защиты кредиторов помогает юридическим лицам с проблемной дебиторской задолженностью. <br>
Приоритетными секторами являются предприятия предприятий коммунального хозяйства, транспорта, энергетического комплекса, организаций бюджетной сферы. 
					</div>
	<div class="sometextTitle">Сколько денег вы теряете, не используя свой потенциал своего актива?</div>
				<div class="herosubtitle">Общеизвестно, что оборотные средства – основа любого бизнеса, обеспечивающая 
					полноценное функционирование предприятия.</div>
					<div class="herotext">
			Если оборотных средств недостаточно, предприятие может потерять значительную долю
					прибыли; иногда недостаток оборотных средств приводит и вовсе к серьезным убыткам.
					АРБИ поможет вам избежать подобных проблем.
			</div>

		
		</div>	
	</div>
</div>
