<div class="insidePage">
	<div class="insideContent">
		<div class="textContent">
			<div class="sometextTitle">Деятельность Фонда защиты кредиторов</div>
				<div class="herobigsubtitle">Деятельность Фонда защиты кредиторов направлена на защиту 
					интересов кредиторов и инвесторов.
				</div>
					<div class="herosubtitle">Фонд защиты кредиторов является единственным некоммерческим 
					объединением в России, защищающим
						права кредиторов.
					</div>
			<div class="herotext">
<br>Фонд защиты кредиторов начал работу в 2010 г. Центральный офис Фонда находится в Москве.<br>
Основными направлениями деятельности являются следующие: мониторинг сложных ситуаций с активами; мониторинг и контроль ключевых процедур 
банкротства; консолидация голосов кредиторов на общих собраниях кредиторов; улучшение практики антикризисного управления; разрешение конфликтов и спорных ситуаций, затрагивающих интересы кредиторов<br>
иные мероприятия, включая взаимодействие с государствеными регуляторами <br>
					</div>
					<div class="herosubtitle">Мониторинг сложных ситуаций.
					</div>
						<div class="herotext">
Фонд защиты кредиторов уделяет особое внимание мониторингу ситуаций с проблемными активами. Приоритет отдан тем проектам, где могут быть ущемлены интересы "миноритарных" кредиторов. 
					</div>
	<div class="sometextTitle">Сколько денег вы теряете, не используя свой потенциал своего актива?</div>
				<div class="herosubtitle">Общеизвестно, что оборотные средства – основа любого бизнеса, обеспечивающая 
					полноценное функционирование предприятия.</div>
					<div class="herotext">
			Если оборотных средств недостаточно, предприятие может потерять значительную долю
					прибыли; иногда недостаток оборотных средств приводит и вовсе к серьезным убыткам.
					Фонд защиты кредиторов поможет вам избежать подобных проблем.
			</div>

		
		</div>	
	</div>
</div>

Деятельность Ассоциации
Деятельность Ассоциации направлена на защиту и продвижение интересов институциональных инвесторов в России.

Основными направлениями даеятельности являются следующие:
Консолидация голосов инвесторов на общих собраниях акционеров
Улучшение практики корпоративного управления путем непосредственного взаимодействиями с компаниями-эмитентами
Разрешение конфликтов и спорных ситуаций, затрагивающих интересы акционеров
Иные мероприятия, включая взаимодействие с государствеными регуляторами
Более подробная информация размещена в соответствующих разделах сайта.
