<div class="insidePage">
	<div class="insideContent">
		<div class="textContent">
			<div class="sometextTitle">Деятельность Фонда защиты кредиторов</div>
				<div class="herobigsubtitle">Деятельность Фонда защиты кредиторов направлена на защиту 
					интересов кредиторов и инвесторов.
				</div>
					<div class="herosubtitle">Фонд защиты кредиторов является единственным некоммерческим 
					объединением в России, защищающим
						права кредиторов.
					</div>
			<div class="herotext">
<br>Первая компания группы начала работу в 2006 г. <br> Головной офис Фонда защиты кредиторов находится в Москве.<br>
Основными направлениями деятельности являются следующие:<br>
Консолидация голосов кредиторов на общих собраниях акционеров <br>
Улучшение практики антикризисного управления <br>
Разрешение конфликтов и спорных ситуаций, затрагивающих интересы кредиторов<br>
Иные мероприятия, включая взаимодействие с государствеными регуляторами <br>
Более подробная информация размещена в соответствующих разделах сайта.<br>

					</div>
	<div class="sometextTitle">Сколько денег вы теряете, не используя свой потенциал своего актива?</div>
				<div class="herosubtitle">Общеизвестно, что оборотные средства – основа любого бизнеса, обеспечивающая 
					полноценное функционирование предприятия.</div>
					<div class="herotext">
			Если оборотных средств недостаточно, предприятие может потерять значительную долю
					прибыли; иногда недостаток оборотных средств приводит и вовсе к серьезным убыткам.
					Фонд защиты кредиторов поможет вам избежать подобных проблем.
			</div>

		
		</div>	
	</div>
</div>

Деятельность Ассоциации
Деятельность Ассоциации направлена на защиту и продвижение интересов институциональных инвесторов в России.

Основными направлениями даеятельности являются следующие:
Консолидация голосов инвесторов на общих собраниях акционеров
Улучшение практики корпоративного управления путем непосредственного взаимодействиями с компаниями-эмитентами
Разрешение конфликтов и спорных ситуаций, затрагивающих интересы акционеров
Иные мероприятия, включая взаимодействие с государствеными регуляторами
Более подробная информация размещена в соответствующих разделах сайта.
