<div class="insidePage">
	<div class="insideContent">
		<div class="textContent">
			<div class="sometextTitle">Карьера в Фонд защиты кредиторов - идеальный вариант трудоустройства для аналитиков, молодых юристов, професссионалов строительного рынка</div>
				<div class="herosubtitle">Фонд защиты кредиторов - один из лидеров рынка по работе со сложными девелоперскими проектами в России. </div>
					<div class="herotext">
  Проекты, испытывающие те или иные сложности, в наше время встречаются достаточно часто.

Именно поэтому компетентные аналитики, девелоперы и юристы, обладающие опытом работы с недвижимостью, проблемными активами всегда востребованы. 

Необходимо помнить, что при взыскании долгов не бывает однотипного алгоритма действий. 
Практически каждое новое взыскание уникально и требует тщательного подхода.<br>
						<a href="../projects" class="btn btn-primary">
						<div class=" "></div>
						<div class="">Познакомьтесь  с нашими проектами</div>
					</a>
<br>

<div class="herosubtitle">АРБИ дает возможность получить необходимую компетенцию в девелопмента, проблемных активов.<br></div>
						<br>
						<img class="leftimage" src="/a/career.jpg" alt="">
			</div>
					
			<div class="sometextTitle">Преимущества для молодых специалистов</div>
				<div class="herosubtitle">Фонд защиты кредиторов работает в одной из самых интересных областей  - сфере проблемных активов.</div>
					<div class="herotext">
						
<div class="herosubtitle">Преимущества : </div><br>

1. Исключительно квалифицированная работа.<br>
2. Опытные и главное успешные наставники, которые сформируют правильное представление о реальных способах решения сложных проблем.<br>
3. Возможность приобрести ценный опыт в наиболее прибыльных отраслях: девелопмент, управление сложными активами. <br>
4. Вы сможете ссылаться на факт Вашей работы в известной Российской компании.<br>
<div class="herosubtitle">Что мы предлагаем для молодых специалистов:</div><br>

Для молодых специалистов стажировка в Фонде защиты кредиторов — 
это отличный способ начать карьеру уже на последнем этапе обучения, получить бесценный опыт работы на реальных проектах, 
понять специфику различных отраслей . Кроме того, это возможность увидеть изнутри работу компании и собрать
уникальный материал для написания дипломной работы.<br>
	
						<img class="leftimage" src="/a/young.jpg" alt="">
						<br>

Мы ждем от наших стажеров максимальной отдачи во время стажировки. 
Самые успешные получат предложение продолжить карьеру у нас на позиции младшего юриста после получения долгожданного диплома.
<br>
					<a href="mailto:info@fozak.ru" class="btn btn-primary">
						<div class=" "></div>
						<div class="">Направить резюме</div>
					</a>
						
				</div>		
		
		</div>	
	</div>
</div>
