<div class="insidePage">
	<div class="insideContent">
		<div class="textContent">
			<div class="sometextTitle">Работа стажером в Фонде защиты кредиторов - идеальный вариант стажировки для аналитиков, молодых юристов, анти-кризисных менеджеров и арбитражных управляющих</div>
				<div class="herosubtitle">Фонд защиты кредиторов - прекрасное место для тех, кто хочет строить свою карьеру в сфере антикризисного управления. </div>
					<div class="herotext">
  В наше время проекты и компании, которые испытывают сложности, встречаются достаточно очень часто.
Как правило, проблемы проекта и бизнеса приводят к тому, что акционеры, кредиторы начинают конфликтовать и утрачивают доверие к менеджменту. 

Именно поэтому особенно важно участие профессиональной структуры, которая поможет в трудной ситуации, выступит медиатором в сложной ситуациии, защитит интересы кредиторов.
Для этой работы необходимы компетентные аналитики, юристы, специалисты с сильными переговорными навыками. 

Каждая проблемная ситуация является уникальной, не бывает однотипного алгоритма действий. 
Практически каждый проблемный актив требует тщательного подхода.<br>
						
<br>

<div class="herosubtitle">Фонд защиты кредиторов дает возможность получить необходимую компетенцию сфере антикризисного управления, анализе проблемных активов.<br></div>
						<br>
						<img class="leftimage" src="/a/career.jpg" alt="">
			</div>
					
			<div class="sometextTitle">Преимущества для молодых специалистов</div>
				<div class="herosubtitle">Фонд защиты кредиторов работает в одной из самых интересных областей  - сфере проблемных активов.</div>
					<div class="herotext">
						
<div class="herosubtitle">Преимущества : </div><br>

1. Исключительно квалифицированная работа.<br>
2. Опытные и главное успешные наставники, которые сформируют правильное представление о реальных способах решения сложных проблем.<br>
3. Возможность приобрести ценный опыт в наиболее динамичных отраслях: инвестиционная деятельность, управление сложными активами. <br>
4. Вы сможете ссылаться на факт Вашей работы в известной организации.<br>
<div class="herosubtitle">Что мы предлагаем для молодых специалистов:</div><br>

Для молодых специалистов стажировка в Фонде защиты кредиторов — 
это отличный способ начать карьеру уже на последнем этапе обучения, получить бесценный опыт работы на реальных проектах, 
понять специфику различных отраслей . Кроме того, это возможность увидеть изнутри работу компании и собрать
уникальный материал для написания дипломной работы.<br>
	
						<img class="leftimage" src="/a/young.jpg" alt="">
						<br>

Мы ждем от наших стажеров максимальной отдачи во время стажировки. 
Самые успешные получат предложение продолжить карьеру у нас на позиции младшего юриста после получения долгожданного диплома.
<br>
					<a href="mailto:info@fozak.ru" class="btn btn-primary">
						<div class=" "></div>
						<div class="">Направить резюме</div>
					</a>
						
				</div>		
		
		</div>	
	</div>
</div>
