<div class="insidePage">
	<div class="insideContent">
		<div class="textContent">
			<div class="sometextTitle">Фонд защиты кредиторов работает с девелоперскими, редевелоперскими проектами.</div>
				<div class="herosubtitle">Фонд защиты кредиторов работает с девелоперскими проектами с 2006 г. </div>
					<div class="herotext">
  Фонд защиты кредиторов фокусируется на следующих областях:<br>
	- редевелопмент неэффективных и неудачных проектов <br>
	- развитие территорий <br>
	- проблемные проекты<br>
	- залоговые и банкротные проекты <br>

Работая с 2006 г Фонд защиты кредиторов накопил уникальный опыт в сфере работы со сложными проектами. 
<br>
					
<br>

<div class="herosubtitle">Фонд защиты кредиторов дает возможность компаниям посмотреть на свои проекты по новому.<br></div>
						<br>
						<img src="/a/career.jpg" alt="">
			</div>
					


<br>
					<a href="mailto:request@fozak.ru" class="btn btn-primary">
						<div class=" "></div>
						<div class="">Направить запрос</div>
					</a>
						
				</div>		
		
		</div>	
	</div>
</div>
