<div class="insidePage">
	<div class="insideContent">
		<div class="textContent">
			<div class="sometextTitle">Сколько денег вы теряете, не взыскивая дебиторскую задолженность?</div>
				<div class="herosubtitle">Общеизвестно, что оборотные средства – основа любого бизнеса, обеспечивающая 
					полноценное функционирование предприятия. Если их недостаточно, вы может потерять значительную долю
					прибыли; иногда недостаток оборотных средств приводит и вовсе к серьезным убыткам.
					АРБИРА поможет вам избежать подобных проблем.</div>
					<div class="herotext">
  

<div class="herosubtitle">Продажа долгов юридических лиц - выгоды продавца:</div>  <br>

1. Гарантия получения денег. Если продать долг АРБИРА сейчас, вы сводите к нулю возможность превращения просроченной задолженности в безнадежную.<br>
2. Возможность реинвестировать денежные средства, полученные от продажи долга и уступки прав требований по просроченным обязательствам.<br>
3. Сокращение затрат, связанных с сопровождением просроченной задолженности и рисков от признания должника банкротом.<br>
4. Снижение расходов по уплате налога на прибыль, начисляемого на неустойку.<br>

            <div class="herosubtitle">Процедура покупки долга:</div> <br>

1. Анализ предлагаемого к продаже долга специалистами Фонд защиты кредиторов. Мы изучаем финансовое состояние должника и обоснованность требований к нему.<br>
2. Подписание договора цессии или факторинга между вашей компанией и АРБИРА.<br>
3. Уведомление должника о переходе прав требований к Фонд защиты кредиторов.<br>
4. Перечисление денежных средств от Фонд защиты кредиторов вашей компании.<br>
5. Передача в наш адрес оригиналов документов, подтверждающих сумму долга.<br>
            
<div class="herosubtitle">Вы всегда можете обратиться к нам, чтобы продать долги юридических лиц. <br>
	К сожалению, мы не покупаем долги физических лиц и индивидуальных предпринимателей.</div>
				
					</div>
					
					
		
		</div>	
	</div>
</div>
