        <div class="container">
                <div class="row nomargin">
                    <div class="span12">
                        <div class="inner-heading">
                            <h1>Отличие факторинга от цессии</h1>
                        </div>
                    </div>
       
            </div>
        </section>
        <section id="content">
        <!-- show map component on contacts page only-->
                <div class="container">
            <div class="row">
                <div class="span8"><div class="news-detail">
							<p>В современном бизнес-сообществе активно используются факторинговые схемы финансирования сделок. Наряду с кредитом и лизингом - это отличная возможность развития для компаний с продуманным портфелем дебиторов. Профессиональный анализ текущей задолженности показывает, в каком объеме поставщик может получить факторинговые услуги. Другим вариантом привлечения финансирования является цессия или переуступка прав от одного участника рынка другому. Но не все точно знают, чем отличается цессия от факторинга. А между тем, знание рыночной терминологии и сути данных сделок может существенно улучшить финансовое состояние компании и дать возможность привлечь новые денежные ресурсы для развития бизнеса, ведь условия <strong>цессии и факторинга</strong> позволяют:</p>

<ul>
  <li>получить дополнительные источники финансирования будущих сделок</li>
  <li>выгодно избавиться от «зависшего» долга</li>
  <li>улучшить структуру баланса и повысить его ликвидность</li>
</ul>


<h2>Особенности реализации факторинговых услуг</h2>

<p>По своей сути, <a href="/factoring-about/">факторинг представляет собой</a> комплексную услугу, участниками которой являются производитель, покупатель и фактор. Главное условие применения факторинговой схемы – ведение парой «поставщик-покупатель» бизнеса на условиях отсрочки платежей. Должником или дебитором в данном случае является покупатель товара. Именно у него, в конечном счете, возникают денежные обязательства по оплате в адрес фактора. Суть сделки заключается в финансировании факторинговой компанией поставщика под уступку прав денежного требования с небольшим сроком ее погашения. Требования по оплате предъявляются конечному покупателю продукции.</p>


<h2>Главные параметры договора цессии </h2>

<p>Фактически цессия представляет собой договор по уступке прав требования документально подтвержденной задолженности. Зачастую этот термин используют и при обозначении операций долевого участия в возведении жилья, если сторонами соглашения являются бывший и новый дольщики. Цедент и цессионарий подписывают документы на продажу имеющегося долга. Данная терминология используется и при привлечении услуг страхования (в частности, при оформлении передачи части рисков страховщиком по договору перестрахования). При привлечении финансирования по договору цессии необходимо документально обосновывать указанные первоначальные обязательства, право требования которых переходит цессионарию.</p>


<h2>Цессия и факторинг: сходства и различия</h2>

<p>Хотя операции цессии и факторинга достаточно схожи и ставят своей целью привлечение дополнительного финансирования, у них есть ряд существенных отличий, например: цессия может быть определена действующим законодательством, в то время как факторинг – услуга исключительно добровольная. Кроме того, по соглашению о цессии предметом договорных отношений является передача прав, факторинговые же услуги предполагают также краткосрочное финансирование.</p> 

<h3>Отличие договора факторинга от цессии нагляднее можно представить в следующей таблице:</h3> 


<table class="type-2">
  <tr>
    <td><b>Факторинговые услуги</b></td>
    <td><b>Соглашение о цессии</b></td>
  </tr>
  <tr>
    <td>Предметом договора является передача дебиторской задолженности</td>
    <td>Цедент передает свое право требования долга цессионарию</td>
  </tr>
  <tr>
    <td>В роли фактора обычно выступает банк или другая финансовая структура</td>
    <td>Договор цессии могут заключать друг с другом любые контрагенты</td>
  </tr>
  <tr>
    <td>Факторинг обычно сопровождается набором дополнительных обязательств</td>
    <td>Цессия, как правило, не обременена дополнительными условиями<p></p></td>
  </tr>
</table>		<div style="clear:both"></div>
	<br />
	</div>
</div>
