
<div id="footer">
	<div id="gtm_privacy">
	</div>
	<div id="footer-support">
		<div class="container">
			<div class="copyright">Фонд защиты кредиторов, 2017. Все права зарегистрированы. <a href="/legal/index.html" style="margin-left:175px;">Правовая информация</a> <a href="/contact/index.html" target="_blank" style="float:right;">Контакты</a></div>
		</div>
	</div>
</div>
<div class="footerOuter">
			<div class="footerInner">
					<div class="copyright">Фонд защиты кредиторов, 2017. Все права зарегистрированы. <a href="/legal/index.html" style="margin-left:175px;">Правовая информация</a> <a href="/contact/index.html" target="_blank" style="float:right;">Контакты</a></div>
    </div>
</div>
