
<div id="footer">
	<div id="gtm_privacy">
	</div>
	<div id="footer-support">
		<div class="container">
				<table style="width:100%">
					  <tr>
					    	<td style="max-width:90px; padding-left:40px">
							<img src="../a/logo.png" style="max-width:160px">
							<div class="greyfootertext">
								Общественная организация 
								(C) "Фонд защиты кредиторов”, 2010-2018.

								Копирование, переработка, распространение и любое иное использование материалов сайта и элементов его оформления без письменного согласия "Фонд защиты кредиторов" не допускается.
							</div>
						</td>
						<td>
							<a class="greyfooterlink" href="/partners">Работа с фондом</a>
							<a class="greyfooterlink" href="/partners">Работа с фондом</a>
							<a class="greyfooterlink" href="/partners">Работа с фондом</a>
						</td>
					    	<td>Smith</td> 
					    	<td>50</td>
					  </tr>
				</table>
	</div>
</div>
<!--<div class="footerOuter">
			<div class="footerInner">
					<div class="copyright">
						
						Фонд защиты кредиторов, 2017. Все права зарегистрированы. <a href="/legal/index.html" style="margin-left:175px;">Правовая информация</a> <a href="/contact/index.html" target="_blank" style="float:right;">Контакты</a></div>
    </div>
</div>-->
