
<div id="footer">
	<div id="gtm_privacy">
	</div>
	<div id="footer-support">
		<div class="container">
			<div class="copyright">
				<table style="width:100%">
					  <tr>
					    	<td><img src="../a/logo.png" style="max-width:160px"></td>
						<td>
							<div class="whitetext">
								<a href="/partners">Работа с фондом</a>
							</div>
							<div class="whitetext">
								Вторая строка. <a href="/legal/index.html" style="margin-left:175px;">
							</div>
						</td>
					    	<td>Smith</td> 
					    	<td>50</td>
					  </tr>
				</table>
			</div>
	</div>
</div>
<!--<div class="footerOuter">
			<div class="footerInner">
					<div class="copyright">
						
						Фонд защиты кредиторов, 2017. Все права зарегистрированы. <a href="/legal/index.html" style="margin-left:175px;">Правовая информация</a> <a href="/contact/index.html" target="_blank" style="float:right;">Контакты</a></div>
    </div>
</div>-->
