	<div id="headerInner">
	  <div class="header">
        <div class="logo">
          <a href="../index.html"><img src="../a/logo.png"></a>
        </div>
        <div style="clear:both"></div>
        <div id="contData">
	  <p class="greennumber">8 495 155-4136</p>
          <!--<p class="greennumber">8 499 261-39-43</p>-->
          <p id="mail">info@arbee.ru</p>
        </div>
        <div id="help">
          <p style="margin-top: -4px;">Оценка сложных</p>
          <p style="margin-top: -10px;">инвестиционных проектов</p>
	  <p style="margin-top: 5px;">Редевелопмент и проблемные активы</p>	
          <!--<p>от 300 000 кв м</p>-->
        </div>
      </div>
    </div>
