<table style="border-spacing: 20px">
				<tr>
					<td><img src="../a/svyaznoi.gif" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo102.png" alt="logo" width="170"/></td>
					<td><img src="../a/petrocommerc.gif" alt="logo" width="170"/></td>
					<td><img src="../a/metrobank.gif" alt="logo" width="170"/></td>
				</tr>
				<tr>
					<td><img src="../a/greenfield.gif" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo106.png" alt="logo" width="170"/></td>
					<td><img src="../a/sb-bank.gif" alt="logo" width="170"/></td>
					<td><img src="../a/mastbank.gif" alt="logo" width="170"/></td>
				</tr>
				<tr>
					<td><img src="../a/promregionbank.gif" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo107.png" alt="logo" width="170"/></td>
					<td><img src="../a/vostok.png" alt="logo" width="170"/></td>
					<td><img src="../a/energo.jpg" alt="logo" width="170"/></td>
				</tr>				
				<tr>
					<td><img src="../a/cerih.gif" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo108.png" alt="logo" width="170"/></td>
					<td><img src="../a/moy_bank.gif" alt="logo" width="170"/></td>
					<td><img src="../a/investbank.gif" alt="logo" width="170"/></td>
				</tr>
				<tr>
					<td><img src="../a/meztrastbank.gif" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo109.png" alt="logo" width="170"/></td>
					<td><img src="../a/masterbank.gif" alt="logo" width="170"/></td>
					<td><img src="../a/transcredit.gif" alt="logo" width="135"/></td>
				</tr>
				<tr>
					<td><img src="../a/starbank.gif" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo110.jpg" alt="logo" width="170"/></td>
					<td><img src="../a/verhnevolzhskiy.gif" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo104.jpg" alt="logo" width="170"/></td>
				</tr>
				<tr>
					<td><img src="../a/vneshprombank.gif" alt="logo" width="170"/></td>
					<td><img src="../a/gazstroibank.gif" alt="logo" width="170"/></td>
					<td><img src="../a/credit-moskva.gif" alt="logo" width="170"/></td>
					<td><img src="../a/eurocitybank.gif" alt="logo" width="170"/></td>
				</tr>
				<tr>
					<td><img src="../a/eurocredit.gif" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo27.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo28.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo29.jpg" alt="logo" width="170"/></td>
				</tr>
				<tr>
					<td><img src="../a/tetrapolis.gif" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo101.png" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo32.jpg" alt="logo" width="170"/></td>
					<td><img src="../images/logos/logo103.png" alt="logo" width="145"/></td>
				</tr>
	
			</table>
