<!--<div class="header">-->	
	<div class="navigation">
			<ul class="n-item">
				<li class="fstLevel">
					<a href="../about/index.html">О Фонде</a>
					<ul class="secLevel">
						
					</ul>
				</li>
				<li class="fstLevel">
					<a href="../services/index.html">Кредиторам</a>
					<ul class="secLevel">
						
					</ul>
				</li>
				<li class="fstLevel">
					<a href="../projects/index.html">Проекты</a>
					<ul class="secLevel">
					
					</ul>
				</li>
				<li class="fstLevel">
					<a href="../partner/index.html">Защита</a>
					<ul class="secLevel">
						<!--<li id="stupidnes"><a href="/socialmission/">Мы помогаем восстановить баланс интересов всех участников финансовой системы, избавляя общество от долговых проблем</a></li>-->
					</ul>
				</li>
				<!--<li class="fstLevel">
					<a href="../debts/index.html">Покупка долга</a>
					<ul class="secLevel">
						
					</ul>
				</li>-->
				<li class="fstLevel">
					<a href="../career/index.html">Волонтерам</a>
					<ul class="secLevel">
					
					</ul>
				</li>
				<li class="fstLevel">
					<a href="../contact/index.html">Контакты</a>
					<ul class="secLevel">
					
					</ul>
				</li>
			</ul>
		</div>
	<!--</div>-->
