<div class="insidePage">
	<div class="insideContent">
		<div class="textContent">
			<div class="view-content">
				<div class="sometextTitle" id="">Новости и пресс-релизы</div>
        <div class="views-row views-row-1 views-row-odd views-row-first">
      
  <div class="views-field views-field-field-press-release-date">        <div class="field-content"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2017-07-06T00:00:00+04:00">06-07-2017</span></div>  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><a href="/ru/content/press-reliz-3">ПРЕСС-РЕЛИЗ</a></span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content"><a href="http://api-russia.org/sites/default/files/irkutskenergo_reliz_06072017.pdf">ХОЛДИНГ EN+ GROUP «СЭКОНОМИЛ» МИЛЛИАРДЫ РУБЛЕЙ ЗА СЧЕТ НАРУШЕНИЯ ЗАКОНОДАТЕЛЬСТВА, БАНК РОССИИ НЕ СМОГ ЭТОМУ ПОМЕШАТЬ&nbsp;</a><br></div>  </div>  </div>
  <div class="views-row views-row-2 views-row-even">
      
  <div class="views-field views-field-field-press-release-date">        <div class="field-content"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2017-05-05T00:00:00+04:00">05-05-2017</span></div>  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><a href="/ru/content/press-reliz-2">ПРЕСС-РЕЛИЗ</a></span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content"><span>АПИ обращает внимание <a href="http://api-russia.org/sites/default/files/pismo_reno_avtovaz.pdf">основных акционеров ПАО "АВТОВАЗ" </a>о необходимости соблюдения рекомендаций Кодекса корпоративного управления в части направления добровольного предложения миноритарным акционерам</span></div>  </div>  </div>
  <div class="views-row views-row-3 views-row-odd views-row-last">
      
  <div class="views-field views-field-field-press-release-date">        <div class="field-content"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2017-04-20T00:00:00+04:00">20-04-2017</span></div>  </div>  
  <div class="views-field views-field-title">        <span class="field-content"><a href="/ru/content/na-kruglom-stole-v-vysshey-shkole-ekonomiki-podveli-itogi-provedennogo-s-uchastiem-api">На круглом столе в Высшей школе экономики подвели итоги проведенного с участием АПИ исследования корпоративного управления в госкомпаниях</a></span>  </div>  
  <div class="views-field views-field-body">        <div class="field-content">18 апреля 2017 года в Высшей школе экономики ((НИУ ВШЭ) прошел круглый стол, на котором были презентованы результаты исследования «Оценка корпоративного управления в публичных акционерных обществах с участием Российской Федерации, акции которых обращаются на организованном рынке ценных бумаг».</div>  </div>  </div>
    </div>
		
		</div>	
	</div>
</div>
