<div class="insideContent">
<div class="textContent">
	<div class="view-content">
		<div class="sometextTitle" id="">Новости и пресс-релизы</div>
			<div class="newsDate">15.12.2017</div>
			     	<div class="herosubtitle">
				     ЦБ объявил о санации Промсвязьбанка через ФКБС.
				     Фонд защиты кредиторов ожидает роста количества конфликтов в процедурах банкротства,
				     связанных с залогами Промсвязьбанка. 
			<div class="herotext">
				<a href="https://docs.google.com/gview?url=http://fozak.ru/a/15122017.doc">Подробнее >> </a>
			</div>
	</div>
</div>	
</div>

