<div class="insidePage">
	<div class="insideContent">
		<div class="textContent">
			<div class="sometextTitle">Другие проекты</div>
				<div class="herobigsubtitle">Академия антикризисного управления</div>
			<div class="herosubtitle">О проекте<br></div>
			Антикризисное управление и сопровождение сложных проектов по взысканию и банкротству является одной из самых востребованных тем как для кредитов, так и для должников.
					
Академия работает в формате "кейс-клуба" и рассматривает следующие ситуации (для кредиторов):

<div class="b-content">
	<p style="text-align: justify;"><em style="font-size: 15px; background-color: initial;">Для
кредиторов:</em></p><ul>
	<li>признание
недействительной записи в ЕГРЮЛ о прекращении деятельности (ликвидации)
юридического лица с целью последующего возбуждения процедуры банкротства;
	</li>	<li>анализ
правовых оснований и перспектив включения в реестр требований кредиторов, в том
числе, обеспеченных залогом;
	</li>	<li>противодействие
включения в реестр требований кредиторов аффилированных с должником компаний;
	</li>	<li>представление
интересов кредиторов на собраниях/комитетах кредиторов;
	</li>	<li>обжалование
решений собраний/комитетов кредиторов;
	</li>	<li>юридический
анализ заключений о фиктивном/преднамеренном банкротстве, планов внешнего
управления, отчетов арбитражных управляющих о своей деятельности и расходовании
денежных средств, анализов финансового состояния должника;
	</li>	<li>оспаривание
сделок должника, в том числе, мировых соглашений;
	</li>	<li>защита
от исков об оспаривании сделок должника, направленных на исключение кредитора
из реестра требований;
	</li>	<li>обжалование
действий (бездействия) арбитражных управляющих;
	</li>	<li>осуществление
мероприятий по отстранению арбитражных управляющих от исполнения своих
обязанностей;
	</li>	<li>правовое
сопровождение реализации имущества должника на торгах, в том числе подготовка
положений о реализации имущества и представление интересов участников торгов;
	</li>	<li>привлечение
контролирующих должника лиц к субсидиарной ответственности по инициативе
кредитора.
	</li></ul><p>
	<em>Для
должников:
	</em></p><ul>
	<li>анализ
правовых оснований и последствий возбуждения процедуры банкротства;
	</li>	<li>выработка
комплекса мероприятий по минимизации связанных с банкротством рисков
контролирующих должника лиц;
	</li>	<li>правовой
и финансовый анализ отчетов арбитражного управляющего, анализ финансового
состояния должника, заключения о фиктивном/преднамеренном банкротстве;
	</li>	<li>организация и проведение собраний/комитетов кредиторов;</li>	<li>организация
проведения инвентаризации и оценки имущества должника;
	</li>	<li>взыскание
дебиторской задолженности с целью удовлетворения требований кредиторов;
	</li>	<li>организация
проведения оценки стоимости активов должника;
	</li>	<li>подготовка
стратегии защиты от необоснованных требований кредиторов;
	</li>	<li>оспаривание
сделок кредиторов, являющихся основанием для включения в реестр требований
кредиторов;
	</li>	<li>защита
от оспаривания сделок должника его кредиторами; 
	</li>	<li>правовое
сопровождение реализации имущества 
	</li>	<li>с целью
максимального соблюдения интересов собственников должника;
	</li>	<li>защита
от заявлений кредиторов о привлечении контролирующих должника лиц к
субсидиарной ответственности;
	</li>	<li>проведение
необходимых мероприятий по заключению мирового соглашения с кредиторами, выходу
должника из банкротства с целью сохранения бизнеса и активов последнего.  
	</li></ul>
	
		</div>	<br>
	
		<iframe style="width:100%;height:100%;" src="https://docs.google.com/gview?url=http://fozak.ru/a/leafletaau.pdf&embedded=true" frameborder="0">
	</iframe>	
			
		</div>	
	</div>
</div>
