<div class="insidePage">
	<div class="insideContent">
		<div class="textContent">
			<div class="sometextTitle">Другие проекты</div>
				<div class="herobigsubtitle">Академия антикризисного управления</div>
			<div class="herotext">О проекте<br></div>
			Антикризисное управление и сопровождение сложных проектов по взысканию и банкротству является одной из самых востребованных тем как для кредитов, так и для должников.
					
Академия работает в формате "кейс-клуба" и рассматривает следующие ситуации (для кредиторов):

- признание недействительной записи в ЕГРЮЛ о прекращении деятельности (ликвидации) юридического лица с целью последующего возбуждения процедуры банкротства;
анализ правовых оснований и перспектив включения в реестр требований кредиторов, в том числе, обеспеченных залогом;
- противодействие включения в реестр требований кредиторов аффилированных с должником компаний;
- представление интересов кредиторов на собраниях/комитетах кредиторов;
- обжалование решений собраний/комитетов кредиторов;
- юридический анализ заключений о фиктивном/преднамеренном банкротстве, планов внешнего управления, отчетов арбитражных управляющих о своей деятельности и расходовании денежных средств, анализов финансового состояния должника;
оспаривание сделок должника, в том числе, мировых соглашений;
защита от исков об оспаривании сделок должника, направленных на исключение кредитора из реестра требований;
обжалование действий (бездействия) арбитражных управляющих;
осуществление мероприятий по отстранению арбитражных управляющих от исполнения своих обязанностей;
правовое сопровождение реализации имущества должника на торгах, в том числе подготовка положений о реализации имущества и представление интересов участников торгов;
привлечение контролирующих должника лиц к субсидиарной ответственности по инициативе кредитора.
Для должников:

анализ правовых оснований и последствий возбуждения процедуры банкротства;
выработка комплекса мероприятий по минимизации связанных с банкротством рисков контролирующих должника лиц;
правовой и финансовый анализ отчетов арбитражного управляющего, анализ финансового состояния должника, заключения о фиктивном/преднамеренном банкротстве;
организация и проведение собраний/комитетов кредиторов;
организация проведения инвентаризации и оценки имущества должника;
взыскание дебиторской задолженности с целью удовлетворения требований кредиторов;
организация проведения оценки стоимости активов должника;
подготовка стратегии защиты от необоснованных требований кредиторов;
оспаривание сделок кредиторов, являющихся основанием для включения в реестр требований кредиторов;
защита от оспаривания сделок должника его кредиторами;
правовое сопровождение реализации имущества
с целью максимального соблюдения интересов собственников должника;
защита от заявлений кредиторов о привлечении контролирующих должника лиц к субсидиарной ответственности;
проведение необходимых мероприятий по заключению мирового соглашения с кредиторами, выходу должника из банкротства с целью сохранения бизнеса и активов последнего.	
						
					<br>
	<iframe style="width:100%;height:100%;" src="https://docs.google.com/gview?url=http://fozak.ru/a/leafletaau.pdf&embedded=true" frameborder="0">
	</iframe>	
			
		</div>	
	</div>
</div>
