<div class="insidePage">
	<div class="insideContent">
		<div class="textContent">
			<div class="sometextTitle">Партнерство с Фондом защиты кредиторов</div>
				<div class="herosubtitle">Партнерство с Фондом защиты кредиторов - быстрый и эффективный способ для собственника посмотреть на свой проект иными глазами</div>
					<div class="herotext">
  Фонд защиты кредиторов предлагает кредиторам, собственникам непредвзято оценить риски своего участия: <br>

						<br>
1. Совместная оценка с Фондом, успешно работающей на рынке с 2006 года.<br>
2. Доступ к инвестициям<br>
3. Максимизация дохода от существующих проектов. <br>
<br>
Партнерам предоставляется:<br>
- консультирование всем аспектам ведения девелоперского бизнеса. Консультации проводят ведущие специалисты Фонда защиты кредиторов.
				В процессе консультирования Вы узнаете, какие реалистичные инвестиционные стратегии 
						являются приемлемыми для вашего бизнеса.<br>
- возможность оценить, какие инвесторы могут быть заинтересованы в инвестировании/соинвестировании вашего бизнеса;<br>

- практическое участие в вашем проекте;<br>

- постоянная поддержка в процессе работы, помощь в решении сложных вопросов, которые могут возникнуть в процессе проекта.<br> </div>

<div class="herosubtitle">Фонд защиты кредиторов предлагает особые условия по "проблемным" активам, активам, требующим редевелопмента</div> 

					<a href="mailto:request@fozak.ru" class="btn btn-primary">
    <div class=" "></div>
    <div class="">Запросить дополнительную информацию</div>
  </a>
					</div>
					

					
		
		</div>	
	</div>
</div>
