	<div class="textContent">
			<div class="sometextTitle">Фонд защиты кредиторов работает со сложными инвестиционными проектами с 2006 г. </div>
				<div class="herosubtitle">Фонд защиты кредиторов - специализируется на инвестиционном проектировании, работе с нестандартными и проблемными активами. </div>
					<div class="herotext">
 Фонд защиты кредиторов работает преимущественно с проектами, требующими нестандартного подхода .<br>

			<div class="sometextTitle">Защита интересов кредиторов</div>
				
						
				
		
		</div>	


