<div class="insidePage">
	<div class="insideContent">
		<div class="textContent">
			<div class="sometextTitle">Фонд защиты кредиторов работает со сложными инвестиционными проектами с 2006 г. </div>
				<div class="herosubtitle">Фонд защиты кредиторов - специализируется на инвестиционном проектировании, работе с нестандартными и проблемными активами. </div>
					<div class="herotext">
 Фонд защиты кредиторов работает преимущественно с проектами, требующими нестандартного подхода .<br>
						<img class="mainimg" src="/a/projects0.jpg" alt="">
						<a href="../debtlegal" class="btn btn-primary"></a>
			<div class="sometextTitle">Защита интересов кредиторов</div>
				<div class="herosubtitle">Фонд защиты кредиторов принимал активное участие в проектах антикризисного управления.</div>
					<div class="herotext">	Бизнес парк	</div>	
							<img class="mainimg" src="/a/khimkipark.jpg" alt="">
	<div class="sometextTitle">Проекты жилой застройки</div>
				<div class="herosubtitle">Фонд защиты кредиторов подготовила успешных несколько проектов жилой застройки</div>
					<div class="herotext">	Абрамцево</div>	
							<img class="mainimg" src="/a/abramtsevo.jpg" alt="">	
<br>

<div class="herosubtitle">АРБИ дает возможность получить максимальную выгоду из существующих девелоперских проектов.<br></div>
						<br>
						<img src="/a/office.jpg" alt="">
			</div>
					
   <div class="herosubtitle">Как мы работаем:</div> <br>
<div class="herotext">
1. Анализ проекта специалистами Фонд защиты кредиторов. Мы строим текущую финансовую модель проекта и анализируем возможные инвестиционные стратегии.<br>
2. Мы анализируем девелоперские и юридические риски.<br>
3. Мы предлагаем оптимальное решение для инвесторов и владельцев на основе оптимальной инвестиционной стратегии.<br>
</div>            
<div class="herosubtitle">Вы всегда можете обратиться к нам, чтобы проанализировать любой проект, даже, на первый взгляд неудачный. <br>
	Мы рассматриваем проекты любого функционального назначения.</div>			
<br>
					<a href="mailto:request@fozak.ru" class="btn btn-primary">
						<div class=" "></div>
						<div class="">Направить запрос</div>
					</a>
						
				
		
		</div>	
	</div>
</div>

