<div class="insidePage">
	<div class="insideContent">
		<div class="textContent">
			<div class="sometextTitle">Фонд защиты кредиторов помогает "миноритарным" кредиторам, чьи права ущемлены.</div>
				<div class="herosubtitle">Фонд защиты кредиторов - один из лидеров рынка по работе с дебиторской задолженностью юридических лиц в России. </div>
					<div class="herotext">
 Фонд защиты кредиторов работает преимущественно с "миноритарными" кредиторами. <br>
Мы работаем с любыми значимыми проектами, с любыми типами кредиторов, включая работников с долгами по заработной плате.<br>
						
						
<br>

<div class="herosubtitle">Фонд защиты кредиторов дает возможность посмотреть по новому на проблемную задолженность, получить профессиональную помощь в сложной ситуации.<br></div>
						<br>
						
			</div>
					
   <div class="herosubtitle">Услуги:</div> <br>
<div class="herotext">
1. Анализ и оценка проекта специалистами Фонда защиты кредиторов. Мы изучаем историю проекта, структуру кредиторской задолженности.<br>
2. Мы анализируем все юридические нюансы и историю проекта.<br>
3. Мы прорабатываем и представляем вам план защиты/взыскания, базирующийся на индивидуальных особенностях должника.<br>
</div>            
<div class="herosubtitle">Вы всегда можете обратиться к нам, чтобы проанализировать существующий проект<br>. Услуги Фонда бесплатны.</div>			
<br>
					<a href="mailto:request@fozak.ru" class="btn btn-primary">
						<div class=" "></div>
						<div class="">Направить запрос</div>
					</a>
						
				
		
		</div>	
	</div>
</div>
