<div class="insidePage">
	<div class="insideContent">
		<div class="textContent">
			<div class="sometextTitle">Фонд защиты кредиторов работает с проектами редевелопмента и девелопмента, с проектами, испытывающими сложности с финансовой моделью. </div>
				<div class="herosubtitle">Фонд защиты кредиторов - один из лидеров рынка по работе с дебиторской задолженностью юридических лиц в России. </div>
					<div class="herotext">
 АРБИ работает преимущественно в Москве и Московской области. Мы работаем с проектами на разных этапах (включая ранние этапы девелопмента).<br>
						
						<a href="../projeccts" class="btn btn-primary">
						<div class=" "></div>
						<div class="">Познакомьтесь  нашими проектами</div>
					</a>
<br>

<div class="herosubtitle">АРБИ дает возможность собственникам посмотреть по новому на существующие актива, высвободить денежные средства, получить новые поступления от существующих объектов.<br></div>
						<br>
						<img src="/a/office.jpg" alt="">
			</div>
					
   <div class="herosubtitle">Услуги:</div> <br>
<div class="herotext">
1. Анализ и оценка проекта специалистами Фонд защиты кредиторов. Мы изучаем финансовую модель и сценарии развития проекта.<br>
2. Мы также покупаем проекты и.или рассматриваем варианты соинвестирования.<br>
3. При необходимости разрабатывается проект редевелопмента.<br>
4. Мы продаем подготовленные проекты.<br>
</div>            
<div class="herosubtitle">Вы всегда можете обратиться к нам, чтобы проанализировать существующий проект<br>
	К сожалению, мы не рассматриваем "дачные" проекты.</div>			
<br>
					<a href="mailto:request@fozak.ru" class="btn btn-primary">
						<div class=" "></div>
						<div class="">Направить запрос</div>
					</a>
						
				
		
		</div>	
	</div>
</div>
